
<div class="container">
    <form method="get" action="@Url.Action("AlienWeightResult", "Calculators")">
        <div>
            <label>Choose a planet</label>
            <select name="Planets">
                <option>Mercury</option>
                <option>Venus</option>
                <option>Earth</option>
                <option>Mars</option>
                <option>Jupiter</option>
                <option>Saturn</option>
                <option>Uranus</option>
                <option>Neptune</option>
            </select>
        </div>
        <div>
            <label>Enter your Earth weight</label>
            <input type="text" name="EarthWeight" />
        </div>
        <input type="submit" name="Submit" />
    </form>
</div>
